This exercise is to construct a data frame using a list of lists

In [9]:
import pandas as pd

In [10]:
list1 = ['a','b', 'c']
list2 = [3,4,1]
list3 = [2,8,6]

In [11]:
lists = []
lists.append(list1)
lists.append(list2)
lists.append(list3)

In [12]:
lists

[['a', 'b', 'c'], [3, 4, 1], [2, 8, 6]]

In [13]:
pd.DataFrame(lists)

   0  1  2
0  a  b  c
1  3  4  1
2  2  8  6

In [14]:
df = pd.DataFrame(lists[1:], columns = lists[0])
df

   a  b  c
0  3  4  1
1  2  8  6

In [15]:
list_index = ['row1', 'row2']
lists = []
lists.append(list1)
lists.append(list_index)
lists.append(list2)
lists.append(list3)

lists

[['a', 'b', 'c'], ['row1', 'row2'], [3, 4, 1], [2, 8, 6]]

In [16]:
pd.DataFrame(lists[2:], index = lists[1], columns = lists[0])

      a  b  c
row1  3  4  1
row2  2  8  6